[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic-settings = "*"
httpx = "*"
beautifulsoup4 = "*"
openai = "*"
redis = "*"
langfuse = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
